*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bck{
    color: hsl(234, 12%, 34%);
    font-family: Poppins;
    font-size: 15px;
    height: auto;
    width: 100%;
}
.main{
    font-weight: 200;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.firsthalf{
    width: 80%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.h3s{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h3{
    font-weight: 200;
    font-size: 25px;
    width: auto;
}
.h32{
    font-weight: 600;
}
.pd{
    color: hsl(229, 6%, 66%);
    width: 100%;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.secondhalf{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
.one{
    align-self: center;
    width: 30%;
    font-size: 12px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
}
.one .hp{
    height: 100px;
    width: 90%;
}
.one hr{
    align-self: normal;
    border: none;
    height: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: hsl(180, 62%, 55%);
    display: flex;
    justify-self: inherit;
}
.one h4{
    width: 90%;
    font-size: 15px;
    font-weight: 600;
}
.one p{
    color: hsl(229, 6%, 66%);
    width: 90%;
    text-align: start;
}
.one img{
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 60px;
}
.two{
    height: 430px;
    width: 30%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.half{
    width: 100%;
    font-size: 12px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
}
.half .hp{
    height: 100px;
    width: 90%;
}
.half hr{
    align-self: normal;
    border: none;
    height: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: hsl(0, 78%, 62%);
    display: flex;
    justify-self: inherit;
}
.half h4{
    width: 90%;
    font-size: 15px;
    font-weight: 600;
}
.half p{
    color: hsl(229, 6%, 66%);
    width: 90%;
    text-align: start;
}
.half img{
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 60px;
}
.half2{
    width: 100%;
    font-size: 12px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
}
.half2 .hp{
    height: 100px;
    width: 90%;
}
.half2 hr{
    align-self: normal;
    border: none;
    height: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: hsl(34, 97%, 64%);
    display: flex;
    justify-self: inherit;
}
.half2 h4{
    width: 90%;
    font-size: 15px;
    font-weight: 600;
}
.half2 p{
    color: hsl(229, 6%, 66%);
    width: 90%;
    text-align: start;
}
.half2 img{
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 60px;
}
.three{
    align-self: center;
    width: 30%;
    font-size: 12px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
}
.three .hp{
    height: 100px;
    width: 90%;
}
.three hr{
    align-self: normal;
    border: none;
    height: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: hsl(212, 86%, 64%);
    display: flex;
    justify-self: inherit;
}
.three h4{
    width: 90%;
    font-size: 15px;
    font-weight: 600;
}
.three p{
    color: hsl(229, 6%, 66%);
    width: 90%;
    text-align: start;
}
.three img{
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 60px;
}
.pm{
    display: none;
}
.twom{
    display: none;
}
.threem{
    display: none;
}


@media (min-width:320px) and (max-width:610px) {
    .bck{
        font-family: Poppins;
        font-size: 15px;
        height: auto;
        width: 100%;
    }
    .main{
        font-weight: 200;
        height: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .firsthalf{
        width: 100%;
    }
    .firsthalf h3{
        font-size: 27px;
    }
    .pd{
        display: none;
    }
    .pm{
        color: hsl(229, 6%, 66%);
        width: 100%;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
    }.secondhalf{
        height: 900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
    }
    .one{
        align-self: center;
        width: 80%;
        font-size: 12px;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
    }
    .three{
        align-self: center;
        width: 80%;
        font-size: 12px;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
    }
    .two{
        display: none;
    }
    .twom{
        
        align-self: center;
        width: 80%;
        font-size: 12px;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
    }
    
    .twom .hp{
        height: 100px;
        width: 90%;
    }
    .twom hr{
        align-self: normal;
        border: none;
        height: 5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: hsl(0, 78%, 62%);
        display: flex;
        justify-self: inherit;
    }
    .twom h4{
        width: 90%;
        font-size: 15px;
        font-weight: 600;
    }
    .twom p{
        color: hsl(229, 6%, 66%);
        width: 90%;
        text-align: start;
    }
    .twom img{
        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 60px;
    }
    
    .threem{
        
        align-self: center;
        width: 80%;
        font-size: 12px;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 10px  hsl(229, 6%, 66%);
    }
    
    .threem .hp{
        height: 100px;
        width: 90%;
    }
    .threem hr{
        align-self: normal;
        border: none;
        height: 5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: hsl(34, 97%, 64%);
        display: flex;
        justify-self: inherit;
    }
    .threem h4{
        width: 90%;
        font-size: 15px;
        font-weight: 600;
    }
    .threem p{
        color: hsl(229, 6%, 66%);
        width: 90%;
        text-align: start;
    }
    .threem img{
        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 60px;
    }
}